<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items | keyvalue">
  <p>There should be an item here:</p>
  <span>{{ item.key[0] }}</span>
  <span>{{ item.key[1] | currency }}</span>
  <span>{{ item.value }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSumbit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>
  
  <button class="button" type="submit">Purchase</button>

</form>