<h3>Cart</h3>

<div class="row">
  <div style="float: left; width: 150px; text-align: center" class="column">Name</div>
  <div style="float: left; width: 150px; text-align: center" class="column">Price</div>
  <div style="float: left; width: 150px; text-align: center" class="column">Quantity</div>
</div> 

<div class="cart-item" *ngFor="let item of items | keyvalue">
  <span>{{ item.key }}</span>
  <span>{{ item.value[0].price | currency }}</span>
  <!-- <span>{{ item.value[0].description }}</span> -->
  <span>{{ item.value[1] }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSumbit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>
  
  <button class="button" type="submit">Purchase</button>

  <p>
    <a routerLink="/shipping">Shipping Prices</a>
  </p>

</form>