<h3>Cart</h3>

<div class="row">
  <div class="header">Name</div>
  <div class="header">Quantity</div>
  <div class="header">Item Price</div>
  <div class="header">Item Total</div>
</div> 

<div class="row" *ngFor="let item of items | keyvalue">
  <div class="cell">{{ item.key }}</div>
  <div class="cell">{{ item.value[1] }}</div>
  <div class="cell">{{ item.value[0].price | currency }}</div>
  <div class="cell">{{ item.value[0].price * item.value[1] | currency }}</div>
  <!-- <span>{{ item.value[0].description }}</span> -->
</div>

<div class="row">
  <div style="float:right; margin-top: 10px; width:50%">Subtotal: ${{ getSubtotal() }}</div>
</div>

<form [formGroup]="checkoutForm" (ngSumbit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>
  
  <button class="button" type="submit">Purchase</button>

  <p>
    <a routerLink="/shipping">Shipping Prices</a>
  </p>

</form>